
.container__menu-bar > ul{
  display: flex;
  flex-direction: row;

}


.container__menu-bar > ul > li{
  list-style: none;

}

.container__menu-bar > ul > li:not(:last-child){
  margin: 0 1.25rem 0 0;

}

