/*Estilo global de css para todos os components*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  font-family: 'Times New Roman', Times, serif;
  color: white;

}

a{
  text-decoration: none;

}
